.empy{  
    padding-bottom: 40px;
}
.login-box{
    width: 300px;
    margin: 100px 100px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
       
}

.login-container{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;   
}
.login-form{
    display: flex;
    flex-direction: column;
}
.login-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.image-login{
  background-image: url("imagen.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
}

.btn-login{
    padding: 10px;
    background-color: #b38a1b;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
}
.forgot-password{
    margin-top: 10px;
    text-align: right;
    font-size: 12px;
    color: #007BFF;
    text-decoration: none;

}
.sign-up{
    margin-top: 15px;
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
    text-align: center;
}

.social-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.social-icons img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  
}
.empy2{  
    padding-bottom: 120px;
}
label {
  font-size: 13px;
  color: #555;
  display: block;
  margin-bottom: 5px;
}
body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1508615039623-a25605d2b022?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bG9naW58ZW58MHx8MHx8fDA%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: roboto, sans-serif;
}